<!-- <button type="button" (click)="onclick()">set French</button> -->
<form [formGroup]="languageFilterForm">
<mat-card>
    <mat-form-field>
        <mat-select placeholder="Language" formControlName="languageCtrl">
            <mat-option *ngFor="let language of languages$ | async" value={{language.iso639_1}}>
                {{language.name}}
            </mat-option>
        </mat-select>
        <mat-label>
            Language
        </mat-label>
        <mat-spinner [diameter]='20' *ngIf="isWorking"></mat-spinner>
        <span matBadge="{{languagesCount}}" matBadgeOverlap="false" matBadgeColor="accent" *ngIf="!isWorking"></span>
    </mat-form-field>
</mat-card>
</form>