<div>
  <mat-card-subtitle><strong>Latin</strong>
  </mat-card-subtitle>
  <mat-divider></mat-divider>
</div>
<div style="flex-flow: row ; display: flex; flex-wrap: wrap; ">
  <div style="flex-flow: column ; display: flex ; margin: 20px">
          <div>
                  <mat-card-subtitle><strong>Croatian :</strong> {{translations.hr}}
                  </mat-card-subtitle>
          </div>
          <div>
                  <mat-card-subtitle><strong>Deutsh :</strong> {{translations.de}}
                  </mat-card-subtitle>
          </div>
          <div>
                  <mat-card-subtitle><strong>English :</strong> {{translations.br}}
                  </mat-card-subtitle>
          </div>
          <div>
                  <mat-card-subtitle><strong>French :</strong> {{translations.fr}}
                  </mat-card-subtitle>
          </div>
  </div>
  <div style="flex-flow: column ; display: flex ; margin: 20px">
          <div>
                  <mat-card-subtitle><strong>Italian :</strong> {{translations.it}}
                  </mat-card-subtitle>
          </div>
          <div>
                  <mat-card-subtitle><strong>Netherland :</strong> {{translations.nl}}
                  </mat-card-subtitle>
          </div>
          <div>
                  <mat-card-subtitle><strong>Portuguese :</strong> {{translations.pt}}
                  </mat-card-subtitle>
          </div>
          <div>
                  <mat-card-subtitle><strong>Spanish :</strong> {{translations.es}}
                  </mat-card-subtitle>
          </div>
  </div>
  <div>
          <mat-card-subtitle><strong>Other</strong> </mat-card-subtitle>
                  <mat-divider></mat-divider>
                  <div style="flex-flow: column ; display: flex ; margin-left: 20px">
                          <mat-card-subtitle><strong>Japanese :</strong> {{translations.ja}}
                          </mat-card-subtitle>
                  </div>
  </div>
</div>
