<form [formGroup]="mainOrnithoFormGroup">
    <mat-sidenav-container class="sidenav-container">
        <!-- LEFT SIDE NAV -->
        <mat-sidenav #leftDrawer class="left-sidenav" position="start" fixedInViewport="true"
            [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
            [opened]="!(isHandset | async)!.matches">
            <mat-toolbar color="primary">
                <span>HR Ornithology</span>
            </mat-toolbar>
            <app-hrornitho-database-filters *ngIf="selectedFeature === 0"></app-hrornitho-database-filters>
            <app-hr-submission-filter *ngIf="selectedFeature === 1"></app-hr-submission-filter>
        </mat-sidenav>
        <!-- Main Tool Bar -->
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="leftDrawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </mat-toolbar>
            <!-- MAIN CONTENT -->
            <mat-tab-group (selectedTabChange)="featureSelectedChanged($event)">
                <mat-tab label="Browse"> <app-hrornitho-birds-list formControlName="ornithoList"></app-hrornitho-birds-list> </mat-tab>
                <mat-tab label="Submit"> <app-hrornitho-admin formControlName="ornithoAdmin"></app-hrornitho-admin> </mat-tab>
                
            </mat-tab-group>
        </mat-sidenav-content>
    </mat-sidenav-container>
</form>