.map {
  width: 100%;
  height: 100vh;
  //height: 600px;
}

.scale-line {
  position: absolute;
  top: 100px;
}

.mouse-pointer {
  position: absolute;
  top: 200px;
}

.info {
  position: absolute;
  top: 150px;
}