<!-- <button type="button" (click)="onclick()">set 5M / true</button> -->
<form [formGroup]="populationFilterForm">
    <mat-card>
        <mat-form-field>
            <mat-select placeholder="Population" formControlName="amount">
                <mat-option *ngFor="let option of populationsFilter | async" value="{{ option.value }}">
                    {{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p>Less &nbsp;<mat-slide-toggle formControlName="over">Over</mat-slide-toggle>
    </mat-card>
</form>