<form [formGroup]="mainFlagForm">
    <mat-sidenav-container class="sidenav-container">
        <!-- LEFT SIDE NAV -->
        <mat-sidenav #leftDrawer class="left-sidenav" position="start" fixedInViewport="true"
            [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
            [opened]="!(isHandset | async)!.matches">
            <mat-toolbar color="primary">
                <span matBadge="{{countriesCount}}" matBadgeOverlap="false" matBadgeColor="accent">HR
                    Flags</span>
            </mat-toolbar>

            <app-hrcountry-filter formControlName="hrCountryFilter" ></app-hrcountry-filter>
            <!-- </div> -->
        </mat-sidenav>
        <!-- Main Tool Bar -->
        <mat-sidenav-content class="saucisse">
            <mat-toolbar color="primary">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="leftDrawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </mat-toolbar>
            <!-- MAIN CONTENT -->
            <app-flags-list formControlName="flagList"></app-flags-list>
        </mat-sidenav-content>
    </mat-sidenav-container>
</form>