<mat-sidenav-container class="sidenav-container">
    <!-- LEFT SIDE NAV -->
    <mat-sidenav #leftDrawer class="left-sidenav" position="start" fixedInViewport="true"
        [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">
            <img src="../../../assets/icons/Flag14.svg" alt="HR Flag icon" class="logo-img">
            <span>HR Flags</span>
        </mat-toolbar>
        <div fxFlex fxLayout="column" fxLayoutGap="10px">
            <form>
                <mat-card>
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Continent" aria-label="Continent" matInput
                            [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-card>

                <mat-card>
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Langage" aria-label="Continent" matInput
                            [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-card>
                <mat-divider></mat-divider>
                <mat-card>
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Inhabitants (less than)" aria-label="Continent" matInput
                            [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-card>
            </form>
        </div>
    </mat-sidenav>
    <!-- Main Tool Bar -->
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="leftDrawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar>
        <!-- MAIN CONTENT -->
        <app-flags-list></app-flags-list>
    </mat-sidenav-content>

</mat-sidenav-container>