<form [formGroup]="mainBorderForm">
    <mat-sidenav-container class="sidenav-container">
        <!-- LEFT SIDE NAV -->
        <mat-sidenav #leftDrawer class="left-sidenav" position="start" fixedInViewport="true"
            [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
            [opened]="!(isHandset | async)!.matches">
            <mat-toolbar color="primary">
                <span>HR Map</span>
            </mat-toolbar>
            <app-hrcountry-filter formControlName="hrCountryFilter"></app-hrcountry-filter>
            <app-layersSelector formControlName ="hrLayerSelector"></app-layersSelector>
        </mat-sidenav>
        <!-- Main Tool Bar -->
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="leftDrawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </mat-toolbar>
            <!-- MAIN CONTENT -->
            <app-hrcountry-open-layer-map formControlName="bordersMap"></app-hrcountry-open-layer-map>
        </mat-sidenav-content>
    </mat-sidenav-container>
</form>