mat-grid-tile {
  background:#FAFAFA;
}
mat-toolbar {
  background: #FAFAFA;
}

.example-icon {
  padding: 0 14px;
}
// mat-grid-list {
//     height:900px;
// }

img {
    height:80%;
    width:80%;

}
.example-spacer {
  flex: 1 1 auto;
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
}
.example-card {
  width: 400px;
  height: 300px;
}

.example-header-image {
  background-size:  cover;
  width: 200px;
  height: 150px;
}
.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}