<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px grid"
    style="flex-flow: row wrap; display: flex; align-items: center; box-sizing: border-box; margin: 0px -10px -10px 0px; place-content: center space-around;">
    <div fxFlex *ngFor="let member of cards">
        <mat-card fxFlex>
            <mat-card-header>
                <mat-card-title>{{member.name}}</mat-card-title>
                <mat-card-subtitle>{{member.nativeName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="member.flag" alt="Flag of {{member.name}}">
            <mat-card-content>
                <p>
                    Population : {{member.population}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>