<mat-card class="example-card">
        <mat-card-header>
                <mat-card-title>{{data.name}}</mat-card-title>
                <mat-card-subtitle>{{data.nativeName}} ({{data.alpha3Code}})
                        <img class="imageHeader" [src]="data.flag" alt="Flag of country">
                </mat-card-subtitle>
        </mat-card-header>
</mat-card>
<mat-tab-group>
        <mat-tab label="General">
                <app-hrcountry-general-information [country]="data"></app-hrcountry-general-information>
                <app-hrcountry-currencies-information [currencies]="data.currencies"></app-hrcountry-currencies-information>
        </mat-tab>
        <mat-tab label="Languages">
                <app-hrcountry-languages-information [languages]="data.languages" ></app-hrcountry-languages-information>
        </mat-tab>
        <mat-tab label="Translations">
                <app-hrcountry-translations-information [translations]="data.translations" ></app-hrcountry-translations-information>
        </mat-tab>
</mat-tab-group>
<button mat-button (click)="onCloseClick()">CLOSE</button>
<button mat-button>SHARE</button>