<form [formGroup]="submitPicture">
  <mat-card>
    <mat-card-content>
      <app-hrvernacular-name-picker formControlName="vernacularName"></app-hrvernacular-name-picker>
    </mat-card-content>
    <mat-card-content>
      <app-hr-pictures formControlName="pictureList"></app-hr-pictures>
    </mat-card-content>
    <mat-card-content>
      <app-hradd-picture-dialog formControlName="addPicture" (imageAddedEvent)="onImageAdded($event)"></app-hradd-picture-dialog>
    </mat-card-content>
  </mat-card>
</form>