<form [formGroup]="submitPicture">
  <mat-card>
    <mat-card-content>
      <app-hrvernacular-name-picker formControlName="vernacularName"></app-hrvernacular-name-picker>
    </mat-card-content>
    <mat-card-content>
      <app-hr-pictures formControlName="pictureList"></app-hr-pictures>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>add_to_queue</mat-icon>Add to queue
      </button>
      <button mat-button>
        <mat-icon>clear</mat-icon>Clear
      </button>
    </mat-card-actions>

  </mat-card>
</form>