<div fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row wrap">
        <div *ngFor="let card of cards | async" fxFlex="25" fxFlex.sm="50" fxFlex.xs="100" style="padding: 5px;"
            fxLayoutAlign=" stretch">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>{{card.title}}</mat-card-title>
                    <mat-card-subtitle>{{card.caption}}</mat-card-subtitle>
                </mat-card-header>
                <button mat-button type="button" class="btn btn-primary-outline pull-left"
                    (click)="onClick(card.reDirect);"><i class="fa fa-plus"></i><img mat-card-image [src]="card.src"
                        alt="{{card.alt}}"></button>
            </mat-card>
        </div>
    </div>
</div>