<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button type="button" class=" pull-left" (click)="btnClick('');"><i class="fa fa-plus"></i><img src="../../../assets/icons/parrot.svg" alt="HR App icon" class="logo-img"></button>    
        <button mat-button type="button"  (click)="btnClick('flags');"><i class="fa fa-plus"></i>Flags</button>    
        <button mat-button type="button"  (click)="btnClick('countries');"><i class="fa fa-plus"></i>Maps</button>    
        <button mat-button type="button"  (click)="btnClick('geolocator');"><i class="fa fa-plus"></i>Geolocator</button>    
        <button mat-button type="button"  (click)="btnClick('ornithology');">Ornithology</button>    
        
        <button mat-button type="button"  (click)="btnClick('drawing');"><i class="fa fa-plus"></i>Drawing</button>    
    </mat-toolbar-row>

</mat-toolbar>