<div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin=""><div class="mat-select-value" ng-reflect-ng-switch="false"><!--bindings={
  "ng-reflect-ng-switch-case": "true"
}--><!--bindings={
  "ng-reflect-ng-switch-case": "false"
}--><span class="mat-select-value-text ng-tns-c16-6 ng-star-inserted" ng-reflect-ng-switch="false" style=""><!----><span class="ng-tns-c16-6 ng-star-inserted">No filter</span><!--bindings={
  "ng-reflect-ng-switch-case": "true"
}--></span></div><div class="mat-select-arrow-wrapper"><div class="mat-select-arrow"></div></div></div>