.example-header-image {
  background-image: url('/assets/icons/letter-p.svg');
  background-size: cover;
} 
.form-field-width {
  width: 80%;
}
table {
  width: 80%;
}
// img {
//   width: 130px;
//   height: 130px;
// }
img {
  display: block;
  max-width:130px;
  max-height:130px;
  width: auto;
  height: auto;
}