.example-header-image {
  background-image: url('/assets/icons/letter-p.svg');
  background-size: cover;
} 
.form-field-width {
  width: 80%;
}
table {
  width: 90%;
}
img {
  display: block;
  max-width:60px;
  max-height:60px;
  width: auto;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Column Widths */
// .mat-column-url
//  {
//   max-width: 150px;
// }

.mat-column-update {
  width: 50px;
}
.mat-column-delete {
  width: 50px;
}
.mat-column-ageType {
  width: 100px;
}
.mat-column-gender {
  width: 100px;
}

.mat-column-source {
  max-width: 200px;
}

.mat-column-credit {
  max-width: 400px;
}

.mat-column-url {
  //  flex: none;
   width: 200px;
}